.chat {
    padding: 8px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 90vh;
}
.chat-action input {
    width: 100%;
    padding: 6px 10px;
    border-radius: 12px;
    border: none;
    outline: none;
}
.chat-action {
    display: flex;
    gap: 8px;
}
.chat-contact {
    display: flex;
    padding: 20px 40px;
    background-color: #1d4b25;
    color: #fff;
    border-radius: 12px;
    margin-bottom: 8px;
}
.chat-avatar {
    width: 50px;
    border-radius: 25px;
    margin-right: 20px;
}
.chat-contact-name {
    display: flex;
    align-items: center;
}
.chat-action button {
    border: none;
    border-radius: 12px;
    padding: 6px 12px;
    cursor: pointer;
}
.chat-action button:hover {
    background-color: black;
    color: #fff;
}
.chat-box {
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}
.chat-wrap {
    overflow: hidden;
    overflow-y: auto;
    max-height: 80vh;
    margin-bottom: 8px;
}
.chat-box > .message {
    display: flex;
    padding: 10px;
    font-size: 16px;
    background-color: aliceblue;
    margin: 12px 8px;
} 
.left {
    text-align: left;
    align-self: flex-start;
}

.right {
    text-align: right;
    align-self: flex-end;
}