.auth {
    height: 100vh;
    width: 100vw;
    background: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-form input {
    padding: 8px 12px;
    font-size: medium;
    border: 2px solid #2e6c2e;
}

.auth-form button {
    border: none;
    width: max-content;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    min-width: 80px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: x-large;
}